@use "../../assets/sass/variables" as *;

.input-field {
  border: $border;
  border-radius: $border-radius;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    border: unset;
    background-color: unset;
  }

  &__icon {
    border: unset;
    background-color: unset;
    padding: 0 0.5rem;
  }
}
