@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Roboto&display=swap");

$border: 2px solid black;
$border-radius: 0.5rem;
$font-heading: "Cabin", sans-serif;
$font-primary: "Roboto", sans-serif;
